.nb-accordion {
  margin-bottom: 18px;
}

.accordion-header {
  display: flex;
  align-items: center;
}

.nb-x-it-component.nb-checkbox-container
  .nb-checkbox-label__container
  .nb-checkbox {
  padding-top: 0px;
  padding-bottom: 0px;
}
