.total-wrapper {
  width: 238px;
  height: 47.56px;
  border-radius: 6px;
  background-color: #edf4f5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.model-total-wrapper {
  height: 47.56px;
  border-radius: 6px;
  background-color: #edf4f5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}
