@media (min-width: 960px) {
  .row-spacing-div {
    margin-left: 5px;
  }
}

@media (max-width: 960px) {
  .row-title-wrapper {
    font-size: 12px;
  }
}

.row-title-wrapper {
  justify-content: space-between;
}

.row-wrapper-2 {
  display: flex;
  margin-left: auto;
  margin-top: auto;
}

.uppercase {
  text-transform: uppercase;
}
