@media (min-width: 960px) {
  .row-spacing-div {
    margin-left: 5px;
  }
}

.row-wrapper-2 {
  display: flex;
  margin-left: auto;
  margin-top: auto;
}

.uppercase {
  text-transform: uppercase;
}
