.footer-wrapper {
  display: flex;
  justify-content: end;
  width: 100%;
  height: min-content;
  margin-top: 20px;
}

.clean-button {
  margin-right: auto;
}

.previous-button {
  margin-right: 16px;
}

.footer-wrapper button {
  min-width: 180px;
}
