.irs-wrapper {
  margin-right: 16px;
}

.skeleton-9 {
  border-radius: 3px;
  height: 24px;
  width: 420px;
  margin-left: 16px;
  margin-top: 10px;
  margin-bottom: 16px;
}

.skeleton-10 {
  border-radius: 3px;
  height: 24px;
  width: 192px;
  margin-left: 16px;
  margin-top: 10px;
  margin-bottom: 16px;
}
