.resume-wrapper {
  background-color: white;
  padding: 14px;
  border-radius: 6px;
  position: sticky;
  top: 0px;
  margin-right: 16px;
  margin-top: 87px;
}

.skeleton-1 {
  padding: 14px;
  border-radius: 6px;
  position: sticky;
  top: 0px;
  margin-right: 16px;
  margin-top: 72px;
  height: 276px;
}

.resume-header {
  border-bottom: 1px solid #e0e7e8;
}

.title {
  margin-top: 0px;
}

.reference {
  margin-top: 0px;
  margin-bottom: 8px;
}
