.table-wrapper-irs {
  margin-bottom: 20px;
}

.table-wrapper-receipts {
  margin-bottom: 20px;
}

.skeleton-4 {
  height: 587.156px;
  border-radius: 6px;
  margin-right: 16px;
  margin-bottom: 20px;
}

.skeleton-5 {
  height: 375.094px;
  border-radius: 6px;
  margin-right: 16px;
  margin-bottom: 20px;
}
