.nb-accordion {
  margin-bottom: 18px;
}

.accordion-header {
  display: flex;
  align-items: center;
}

.accordion-wrapper div.MuiGrid-root.MuiGrid-item {
  width: 100%;
}

.accordion-wrapper
  div.MuiGrid-root.MuiGrid-item
  ~ div.MuiGrid-root.MuiGrid-item {
  width: auto;
}

.skeleton-2 {
  height: 67px;
  border-radius: 6px;
}
